@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Russo+One&family=Sarala&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Josefin+Sans&family=Roboto:wght@400;900&family=Russo+One&family=Sarala&family=VT323&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header{
    align-items:center ;
    display: flex;
    flex-direction:row ;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    justify-content: space-between;
    padding: 20px;
}

.menu-iten{
    color: black;
    padding: 24px;
}

.menu-iten:hover{
    color: #FF8800;
    transition: 0.5s; 
}

a{
    color: white;
    text-decoration: none;
}

.button{
    background-color: #FF8800 ;
    border: none;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    padding: 18px;
    width: 110px;
}

.button:hover{
    background-color: #C66300;
    transition: 1s;
}

.background{
    align-items: center; 
    background: no-repeat url(../img/quem\ somos.jpg);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100vw;
 }
 
 .background h1{
     color: white;
     font-family: 'Berkshire Swash', cursive;
     font-size: 80px;
     padding-top: 20px;
     text-align: center;
 }
 
.img-quemSomos{
    margin: 50px;
    padding: 10px;
 }

.quem-somos{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    padding: 50px;
}

.text-quemSomos h2, p{
    padding: 20px;
}


/* Responsividade */
 
@media screen and (max-width:768px) {

    .header{
        flex-direction: column;
        font-size: 22px;
    }

    .quem-somos h1,p{
        font-size: 26px;
    }

      } 